.muffin {
    border-radius: 6px;
    height: 320px;
    width: 240px;
}

.profile_img {
    border-radius: 6px;
    height: 200px;
    width: 200px;
}

.form_field {
    width: 330px;
    height: auto;
    border-radius: 5px;
}