{% extends "rango/base.html" %}

{% block title %}Add Category{% endblock %}  

{% block body_block %}
    <form role="form" id="category_form" action="{% url 'rango:add_category' %}" method="post">
        {% csrf_token %}
        <h2 class="form-signin-heading">Create a new category</h2>

        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            <br/>
            {{ field }}
            <br/>
            <br/>
        {% endfor %}

        <button class="btn btn-primary" type="submit" name="submit">Create category</button>
    </form>
{% endblock %}