{% extends "rango/base.html" %}

{% block title %}Add Page{% endblock %}  

{% block body_block %}
    {% if category %}
        <h1>Add a page in {{ category.name }}</h1>
        <form id="page_form" action="{% url 'rango:add_page'  category.slug %}" method="post">
            {% csrf_token %}

            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
                <br/>
                <br/>
            {% endfor %}
            <input type="submit" name="submit" value="Create page" />
        </form>

    {% else %}
        <stong>Category doesn't exist.</strong>
        <a href="{% url 'rango:add_category' %}">Add a new category</a>
        <br/>
    {% endif %}

{% endblock %}