{% extends "rango/base.html" %}

{% load staticfiles %}

{% block linked_block %}<link rel="stylesheet" type="text/css"  href="{% static 'rango/style.css' %}" />{% endblock %}

{% block body_block %}
    {% if user.is_authenticated %}
        <h1>Rango says... hello {{ user.username }}!</h1>
     {% else %}   
        <h1>Rango says...hello world! </h1>
    {% endif %}

    {% if categories %}
        <h2>Most popular categories:</h2>
        <ul>
            {% for category in categories %}
                <li><a href="{% url 'rango:category' category.slug %}">{{ category.name }} ({{ category.likes }} likes)</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>There are no categories present.</strong>
    {% endif %}

    {% if pages %}
        <h2>Most popular pages:</h2>
        <ul>
            {% for page in pages %}
                <li><a href=" {{ page.url }}">{{ page.title }} ({{ page.views}} views)</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <stong>There are no pages present.</strong>
    {% endif %}

{% endblock %}